@model IEnumerable<DoAnAsp.Areas.ADmin.Models.HoaDonModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDTNgNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Andress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDTNgNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
