@model IEnumerable<DoAnAsp.Areas.ADmin.Models.SanPhamModel>
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="text" name="Search" placeholder="Search..." class="h-25" />
    <input type="submit" value="Tìm kiếm" class=" btn btn-primary" />
</form>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Danh sách tài khoản</h4>
                <div class="d-flex">
                    <i data-feather="download"></i>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="table1" onsubmit="return jQueryAjaxPost(this);">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenSP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Soluong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HinhAnh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ManHinh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HDH)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CameraTrc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CameraSau)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CPU)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RAM)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ROM)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoSao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MoTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrangThai)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiSPs)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Soluong)
                                    </td>
                                    <td class="chinhsua" id="chinhsua">
                                        @*@Html.DisplayFor(modelItem => item.HinhAnh)*@
                                        <img src="~/Admin/ImgPro/@item.HinhAnh" alt="Alternate Text" class="w-100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManHinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HDH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CameraTrc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CameraSau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CPU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RAM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ROM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoSao)
                                    </td>
                                    <td>
                                        @*chuyển chuyển base thành hình*@
                                        @Html.Raw(item.MoTa)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.TrangThai)*@
                                        @{if (item.TrangThai == 1)
                                            {
                                                @:Hoạt động
                                            }
                                            else
                                            {
                                                @:Đã xóa
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiSPs.TenLSP)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>