@model IEnumerable<DoAnAsp.Areas.ADmin.Models.LoaiSPModelcs>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a class="btn btn-success" onclick="showModal('@Url.Action("AddAndEdit","LoaiSP",null,Context.Request.Scheme)','Thêm loại sản phẩm')" >Create New</a>
</p>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Danh sách tài khoản</h4>
                <div class="d-flex">
                    <i data-feather="download"></i>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="table1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenLSP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mota)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenLSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mota)
                                    </td>
                                    <td>
                                        <a class="btn btn-success" onclick="showModal('@Url.Action("AddAndEdit","LoaiSP",new { id=item.MaLoaiSP},Context.Request.Scheme)','Sửa loại sản phẩm')">Edit</a> |
                                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.MaLoaiSP">Details</a> |
                                        <form action="Delete" asp-route-id="" ></form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>