@model IEnumerable<DoAnAsp.Areas.ADmin.Models.LoaiSPModelcs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" onclick="showModal('@Url.Action("AddAndEdit","LoaiSP",null,Context.Request.Scheme)','Thêm loại sản phẩm')">Thêm loại sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLSP)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.TrangThai)*@
                    @{if (item.TrangThai == 1)
                        {
                            @:Hoạt động
                        }
                        else
                        {
                            @:Đã xóa
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-danger" onclick="showModal('@Url.Action("AddAndEdit","LoaiSP",new { id = item.MaLoaiSP },Context.Request.Scheme)','Sửa loại sản phẩm')">Sửa</a>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.MaLoaiSP">Details</a> |
                    <form asp-action="Delete" asp-route-id="@item.MaLoaiSP" onsubmit="return jQueryAjaxDelete(this);">
                        <input type="hidden" asp-for="@item.MaLoaiSP" />
                        <input type="submit" value="Xóa" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
