@model IEnumerable<DoAnAsp.Areas.ADmin.Models.KhuyenMaiModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" onclick="showModal('@Url.Action("AddAndEdit","KhuyenMai",null,Context.Request.Scheme)','Thêm khuyến mãi')" >Thêm khuyến mãi</a>
</p>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Danh sách tài khoản</h4>
                <div class="d-flex">
                    <i data-feather="download"></i>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="table1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenKM)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GiaTri)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayBD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayKT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrangThai)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SanPham)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenKM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaTri)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayBD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayKT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrangThai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" onclick="showModal('@Url.Action("AddAndEdit","KhuyenMai",new { id = item.MaKM },Context.Request.Scheme)','Sửa khuyến mãi')">Sửa</a>
                                        <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.MaKM">Details</a>
                                        <form asp-action="Delete" asp-route-id="@item.MaKM" >
                                            <input type="hidden" asp-for="@item.MaKM" />
                                            <input type="submit" value="Xóa" class="btn btn-success" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>