@model DoAnAsp.Areas.ADmin.Models.KhuyenMaiModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KhuyenMaiModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.CPU)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaKM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
