@model DoAnAsp.Areas.ADmin.Models.SanPhamModel
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row no-gutters mt-3 mb-3">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <!-- Product Slider -->
        <div class="product-gallery">
            <div class="quickview-slider-active">
                <div class="single-slider">
                    <img src="~/Admin/ImgPro/@Model.HinhAnh" alt="@Model.HinhAnh">
                </div>
                
            </div>
        </div>
        <!-- End Product slider -->
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="quickview-content">
            <h2>@Html.DisplayFor(Model=>Model.TenSP)</h2>
            <div class="quickview-ratting-review">
                <div class="quickview-ratting-wrap">
                    <div class="quickview-ratting">
                        <i class="yellow fa fa-star"></i>
                        <i class="yellow fa fa-star"></i>
                        <i class="yellow fa fa-star"></i>
                        <i class="yellow fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <a href="#"> (1 customer review)</a>
                </div>
                <div class="quickview-stock">
                    <span><i class="fa fa-check-circle-o"></i> in stock</span>
                </div>
            </div>
            <h3>@Html.DisplayFor(Model=>Model.Gia)</h3>
            <div class="quickview-peragraph">
                <p>@Html.DisplayFor(Model=>Model.MoTa)</p>
            </div>
            <div class="size">
                <div class="row">
                    <div class="col-lg-6 col-12 d-inline">
                        <h5 class="title">Hệ điều hành:&nbsp;<span>@Html.DisplayFor(Model => Model.HDH)</span></h5>
                        <h5 class="title">Camera sau:&nbsp;<span>@Html.DisplayFor(Model => Model.CameraSau)</span></h5>
                        <h5 class="title">Camera trước:&nbsp;<span>@Html.DisplayFor(Model => Model.CameraTrc)</span></h5>
                        <h5 class="title">CPU:&nbsp;<span>@Html.DisplayFor(Model => Model.CPU)</span></h5>
                        <h5 class="title">RAM:&nbsp;<span>@Html.DisplayFor(Model => Model.RAM)</span></h5>
                        <h5 class="title">ROM:&nbsp;<span>@Html.DisplayFor(Model => Model.ROM)</span></h5>
                        <h5 class="title">PIN:&nbsp;<span>@Html.DisplayFor(Model => Model.Pin)</span></h5>
                        <h5 class="title">Trang thái:&nbsp;<span>@if (Model.TrangThai==1)
                        {
                            @:Còn hàng
                        }
                        else
                        {
                            @:Hết hàng
                        }
                        </span></h5>

                    </div>
                    <div class="col-lg-6 col-12">
                        <h5 class="title">Color</h5>
                        <select>
                            <option selected="selected">orange</option>
                            <option>purple</option>
                            <option>black</option>
                            <option>pink</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="quantity">
                <!-- Input Order -->
                <div class="input-group">
                    <div class="button minus">
                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                            <i class="ti-minus"></i>
                        </button>
                    </div>
                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                    <div class="button plus">
                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                            <i class="ti-plus"></i>
                        </button>
                    </div>
                </div>
                <!--/ End Input Order -->
            </div>
            <div class="add-to-cart">
                <a href="#" class="btn">Add to cart</a>
                <a href="#" class="btn min"><i class="ti-heart"></i></a>
                <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
            </div>
            <div class="default-social">
                <h4 class="share-now">Share:</h4>
                <ul>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

