@model IEnumerable<DoAnAsp.Areas.ADmin.Models.SanPhamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CameraTrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CameraSau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoSao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSPs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManHinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraTrc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraSau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoSao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSPs.MaLoaiSP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
